<div class="main flex flex-row">
    <div class="box m-1">
        <div class="block m-2">
            <h3>Patterns:<span style="float:right;">{{count}} found</span></h3>
            <p-table #dbtable id="patterns" [value]="patterns" selectionMode="single" [(selection)]="selectedPattern" dataKey="id" 
                        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" 
                        styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '30rem' }">
                <ng-template #header>
                    <tr>
                        <th>Title</th>
                    </tr>
                </ng-template>
                <ng-template #body let-pattern>
                    <tr [pSelectableRow]="pattern">
                        <td>{{pattern.title}}</td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="mt-3">
                <p-button icon="pi pi-sync" (click)="getPatterns()" tooltipPosition="top" pTooltip="Reload"></p-button>&nbsp;
                <p-button icon="pi pi-plus" (click)="add()" tooltipPosition="top" pTooltip="Add"></p-button>&nbsp;
            </div>
                
            <div class="card m-5">
                @for (message of messages(); track message; ) {
                    <p-message [severity]="message.severity" [text]="message.text" [closable]="true"/>
                }
            </div>
        </div>
    </div>

    <div class="databox flex border-1 border-round-lg m-1">
        <p-panel *ngIf="adding" class="addbox">
            <div class="w-100">
                <h3 class="new-title">New Pattern</h3>
                <div class="flex flex-row">
                    <div class="p-2">
                        <ng2-chessposition #board1 [(position)]="chessPositionBoard"></ng2-chessposition>
                    </div>
                    <div class="flex flex-column mt-6">
                        <p-button class="p-1" severity="info" (click)="start()">Start&nbsp;Position</p-button>
                        <p-button class="p-1" severity="info" (click)="clear()">Clear</p-button>
                    </div>
                    <div class="flex flex-column mt-6 p-2">
                        <input type="text" pInputText placeholder="Title" [(ngModel)]="pattern.title">
                        <textarea rows="3" cols="30" pInputTextarea placeholder="Moves" [(ngModel)]="pattern.moves"></textarea>
                        <textarea rows="3" cols="30" pInputTextarea placeholder="Notes" [(ngModel)]="pattern.notes"></textarea>
                        <input type="text" pInputText placeholder="Source" [(ngModel)]="pattern.source">
                        <input type="text" pInputText placeholder="Date" [(ngModel)]="pattern.created">
                        <p-select [options]="turns" [(ngModel)]="pattern.turn" placeholder="Whose Turn is It?"/>
                    </div>
                </div>
                <div>
                    <p-button (click)="addPattern()">Add Pattern</p-button> &nbsp;
                    <p-button severity="warn" (click)="cancel(false)">Cancel</p-button> &nbsp;
                </div>
            </div>
        </p-panel>
    
        <p-panel *ngIf="selectedPattern && adding === false && editing === false" class="viewbox p-1">
            <h4>{{selectedPattern.title}}<br></h4>
            <div>
                {{selectedPattern.moves}}<br>
                {{selectedPattern.source}}<br>
                {{selectedPattern.notes}}<br>
                {{selectedPattern.created}}<br>
                <br>
                <p-button [style]="{'position':'absolute','left':'76rem'}" icon="pi pi-sync" (click)="flipboard()"></p-button>
                <ng2-chessboard #board2 [(position)]="selectedPattern.fen" [(boardWidth)]="boardWidth"></ng2-chessboard>
            </div>
            <div class="m-2" *ngIf="showButtons === false">
                <p-button icon="pi pi-chevron-circle-right" size="small" [rounded]="true" [text]="true" (click)="showButtons = true;"/>
            </div>
            <div class="m-2" *ngIf="showButtons">
                <p-button (click)="editPattern()">Edit</p-button> &nbsp;
                <p-button severity="warn" (click)="cancel(true)">Cancel</p-button> &nbsp;
                <p-button (click)="confirmDelete($event)" label="Delete" severity="danger"/> &nbsp;
                <p-button icon="pi pi-chevron-circle-left" size="small" [rounded]="true" [text]="true" (click)="showButtons = false;"/>
            </div>
            <p-confirmdialog/>
        </p-panel>

        <p-panel *ngIf="editing" class="addbox">
            <div class="w-100">
                <h3 class="new-title">Edit Pattern</h3>
                <div class="flex flex-row">
                    <div class="p-2">
                        <ng2-chessposition #board3 [(position)]="pattern.fen"></ng2-chessposition>
                    </div>
                    <div class="flex flex-column mt-6">
                        <p-button class="p-1" severity="info" (click)="start()">Start&nbsp;Position</p-button>
                        <p-button class="p-1" severity="info" (click)="clear()">Clear</p-button>
                    </div>
                    <div class="flex flex-column mt-6 p-2">
                        <input type="text" pInputText placeholder="Id" [(ngModel)]="pattern.id" readonly>
                        <input type="text" pInputText placeholder="Title" [(ngModel)]="pattern.title">
                        <textarea rows="3" cols="30" pInputTextarea placeholder="Moves" [(ngModel)]="pattern.moves"></textarea>
                        <textarea rows="3" cols="30" pInputTextarea placeholder="Notes" [(ngModel)]="pattern.notes"></textarea>
                        <input type="text" pInputText placeholder="Source" [(ngModel)]="pattern.source">
                        <input type="text" pInputText placeholder="Date" [(ngModel)]="pattern.created">
                        <p-select [options]="turns" [(ngModel)]="pattern.turn" placeholder="Whose Turn is It?"/>
                    </div>
                </div>
                <div>
                    <p-button (click)="updatePattern()">Update Pattern</p-button> &nbsp;
                    <p-button severity="warn" (click)="cancel(false)">Cancel</p-button> &nbsp;
                </div>
            </div>
        </p-panel>

        <p-panel *ngIf="adding == false && selectedPattern == undefined">
            <div class="startbox m-1">
                Create a New Pattern or Select an Existing One.
            </div>
        </p-panel>
    </div>
</div>