<div class="p-2 flex flex-column">
    <h3>Global Settings</h3>
    <p-accordion value="0">
        <p-accordion-panel value="1">
            <p-accordion-header>User Info Settings</p-accordion-header>
            <p-accordion-content>
                <div class="flex-row">
                    <div class="p-2">
                        <label for="account">Default Chess.com Account</label>
                        <input type="text" pInputText id="account" [(ngModel)]="settings.chessdotcomAccount"/>
                    </div>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
            <p-accordion-header>Databases Settings</p-accordion-header>
            <p-accordion-content>
                <div class="flex-row">
                    <div class="p-2">
                        <label for="root">Database File Root</label>
                        <input type="text" pInputText id="root" [(ngModel)]="settings.dbRoot"/>
                    </div>
                    <div class="p-2">
                        <label for="name">Default Database</label>
                        <input type="text" pInputText id="name" [(ngModel)]="settings.dbName"/>
                    </div>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>

<div class="p-2">
    <p-button severity="success" (click)="save()">Save Settings</p-button>&nbsp;
    <p-button severity="info" (click)="reload()">Reload Settings</p-button>&nbsp;
</div>

<div class="flex flex-row m-2">
    @for (message of messages(); track message; ) {
        <p-message [severity]="message.severity" [text]="message.text" [closable]="true"/>
    }
</div>