/* Captured Pieces */

.captured-pieces-cpiece {
    display:            inline-block;
    background-image:   url("/assets/captured-pieces-new.png");
    background-repeat:  no-repeat;
    background-size:    420px 240px;        /* old image: 34.2rem 30.6rem; */
    margin-right:       1px;
}

/* Pawns */

.captured-pieces-b-pawn, .captured-pieces-w-pawn {height: 24px; width: 24px;}

.captured-pieces-b-pawn{background-position:0 -215px;}
.captured-pieces-w-pawn{background-position:-220px -215px;}

.captured-pieces-b-2-pawns, .captured-pieces-w-2-pawns {height: 24px; width: 28px;}

.captured-pieces-b-2-pawns{background-position:0 -184px;}
.captured-pieces-w-2-pawns{background-position:-220px -184px;}

.captured-pieces-b-3-pawns, .captured-pieces-w-3-pawns{height: 24px; width: 34px;}

.captured-pieces-b-3-pawns{background-position:0 -154px;}
.captured-pieces-w-3-pawns{background-position:-220px -154px;}

.captured-pieces-b-4-pawns, .captured-pieces-w-4-pawns{height: 24px; width: 44px;}

.captured-pieces-b-4-pawns{background-position:0 -124px;}
.captured-pieces-w-4-pawns{background-position:-220px -124px;}

.captured-pieces-b-5-pawns, .captured-pieces-w-5-pawns{height:24px; width: 53px;}

.captured-pieces-b-5-pawns{background-position:0 -93px;}
.captured-pieces-w-5-pawns{background-position:-220px -93px;}

.captured-pieces-b-6-pawns, .captured-pieces-w-6-pawns{height:24px; width: 61px;}

.captured-pieces-b-6-pawns{background-position:0 -62px;}
.captured-pieces-w-6-pawns{background-position:-220px -62px;}

.captured-pieces-b-7-pawns, .captured-pieces-w-7-pawns{height:24px; width: 70px;}

.captured-pieces-b-7-pawns{background-position:0 -32px;}
.captured-pieces-w-7-pawns{background-position:-220px -32px;}

.captured-pieces-b-8-pawns,.captured-pieces-w-8-pawns{height:24px; width: 78px;}

.captured-pieces-b-8-pawns{background-position:0 0px;}
.captured-pieces-w-8-pawns{background-position:-220px -0px;}

/* Bishops */

.captured-pieces-b-bishop, .captured-pieces-w-bishop{height:26px; width: 22px;}

.captured-pieces-b-bishop{background-position:-82px -29px;}
.captured-pieces-w-bishop{background-position:-304px -29px;}

.captured-pieces-b-2-bishops, .captured-pieces-w-2-bishops{height:26px; width: 32px;}

.captured-pieces-b-2-bishops{background-position:-82px 2px;}
.captured-pieces-w-2-bishops{background-position:-304px 2px;}

/* Knights */

.captured-pieces-b-knight{height:26px; width: 18px;}
.captured-pieces-w-knight{height:26px; width: 24px;}

.captured-pieces-b-knight{background-position:-118px -29px;}
.captured-pieces-w-knight{background-position:-334px -29px;}

.captured-pieces-b-2-knights{height:26px; width: 26px;}
.captured-pieces-w-2-knights{height:26px; width: 33px;}

.captured-pieces-b-2-knights{background-position:-118px 2px;}
.captured-pieces-w-2-knights{background-position:-334px 2px;}

/* Rooks */

.captured-pieces-b-rook, .captured-pieces-w-rook{height:24px; width: 22px;}

.captured-pieces-b-rook{background-position:-148px -31px;}
.captured-pieces-w-rook{background-position:-368px -31px;}

.captured-pieces-b-2-rooks, .captured-pieces-w-2-rooks{height:24px; width: 32px;}

.captured-pieces-b-2-rooks{background-position:-148px 0px;}
.captured-pieces-w-2-rooks{background-position:-368px 0px;}

/* Queen */

.captured-pieces-b-queen, .captured-pieces-w-queen{height:24px; width:24px;}

.captured-pieces-b-queen{background-position:-176px 0px;}
.captured-pieces-w-queen{background-position:-396px 0px;}
