/Chesster/target/

/Chesster/src/main/resources/Chesster/node_modules
/Chesster/src/main/resources/Chesster/dist
/Chesster/src/main/resources/Chesster/.angular
/Chesster/src/main/resources/Chesster/.vscode
