<p-splitter [panelSizes]="[40, 60]" [style]="{ height: '100%' }" panelStyleClass="panels">
    <ng-template #panel>
        <div class="box p-2">
            <h3>Hero Information:</h3>
            <div class="flex-row">
                <div class="p-2">
                    <label for="account">Chess.com Account: </label>
                    <input type="text" #white pInputText id="white" [(ngModel)]="account"/>
                </div>
            </div>
            <div class="card m-5">
                @for (message of messages(); track message; ) {
                    <p-message [severity]="message.severity" [text]="message.text" [closable]="true"/>
                }
            </div>
        </div>
    </ng-template>

    <ng-template #panel>
        <div class="box p-2" *ngIf="account.length > 0">
            <h3 class="new-title"> Import Games From Chess.com </h3>
            <div class="p-2">
                <label for="year">Year:</label>
                <input type="text" pInputText id="year" [(ngModel)]="year"/>
            </div>
            <div class="p-2">
                <label for="month">Month:</label>
                <input type="text" pInputText id="month" [(ngModel)]="month"/>
            </div>
            <div class="p-2">
                <label for="notes">Time Class:</label>
                <p-select [style]="{ 'width': '20rem' }" [options]="timeClasses" [(ngModel)]="timeClass" optionLabel="class" placeholder="Select a Time Class"></p-select>
            </div>
            <div class="p-2">
                <p-button severity="success" (click)="getGames()">Get Games</p-button>
            </div>

            <div class="flex border-1 border-round-lg m-2 gamebox" *ngIf="games.length > 0">
                <div class="p-2">
                    <p-table id="cdcgames" [value]="games" [scrollable]="true" scrollHeight="550px" selectionMode="multiple" [(selection)]="selectedGames" 
                                dataKey="tcn" [tableStyle]="{ 'min-width': '58rem', 'overflow-x': 'hidden' }">
                        <ng-template #header>
                            <tr>
                                <th></th>
                                <th>White</th>
                                <th>Black</th>
                                <th>Class</th>
                                <th>Result</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-game>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="game"/>
                                </td>
                                <td>{{game.white.username}}</td>
                                <td>{{game.black.username}}</td>
                                <td>{{game.time_class}}</td>
                                <td>{{game.result}}</td>
                                <td><p-button (click)="displayGame($event, game)" icon="pi pi-info-circle" [text]="true"></p-button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="p-2" *ngIf="games.length > 0 && database">
                <p-button (click)="import()">Import</p-button>&nbsp;
            </div>

            <div class="w-100 p-2">
                <p *ngIf="database"><b>Database:</b> {{database.ds.name}}</p>
                <p *ngIf="!database">Please Select a Database.</p>
            </div>
        </div>
    </ng-template>
</p-splitter>

<p-popover #po (onHide)="selectedGame = null">
    <ng-template #content>
        <div class="popoverbox p-2">
            <div class="flex flex-row justify-between items-start gap-1 mb-2">
                <b>White:</b> {{selectedGame.white.username}} ({{selectedGame.white.rating}}) vs. <b>Black:</b> {{selectedGame.black.username}} ({{selectedGame.black.rating}})
            </div>
            <div class="flex flex-row justify-between items-start gap-1 mb-2">
                <b>White:</b> {{selectedGame.white.result}} / <b>Black:</b> {{selectedGame.black.result}}
            </div>
            <div class="flex flex-row justify-between items-start gap-1 mb-2">
                <b>{{opening(selectedGame.eco)}}</b>
            </div>
            <div class="flex flex-row justify-between items-start gap-1 mb-2">
                {{moves(selectedGame.pgn)}}
            </div>
        </div>
    </ng-template>
</p-popover>
