.new-title {
    width: 100%;
    background-color: rgb(77, 199, 77);
}

h3 {
    font-size: 1rem;
    margin-block-end: 1px !important;
}

hr {
    width: 66rem;
    color: white;
    background-color:white;
}