<div class="main flex-row">
    <div class="box">
        <div class="flex flex-row">
            <div class="boardbox flex flex-column">
                <playerbox [player]="playertop" [align]="'bottom'" [color]="bottomcolor" [fen]="getFen()"></playerbox>
                <ng2-chessboard #board [(position)]="position" [draggable]="true" (lastMove)="move($event)" (positionChange)="handlePositionChange($event)"></ng2-chessboard>
                <playerbox class="mt-1" [player]="playerbottom" [align]="'top'" [color]="topcolor" [fen]="getFen()"></playerbox>
                <div class="enginebox border-1 border-round-lg p-2">
                    <b>{{engineName}}</b><br>{{mate}}<br>
                    <span class="scorearea" *ngIf="enginemoves != undefined" [ngStyle]="{'color': (enginescore >= 0 ? 'limegreen' : 'red')}">
                        {{enginescore}}
                    </span><br>
                    <textarea class="movearea" #analysisarea rows="6" cols="55">{{enginemoves}}</textarea>
                    <p-button severity="info" (click)="newVariation()" *ngIf="enginemoves">Add as Variation</p-button>
                </div>
                <div class="flex flex-row m-2">
                    @for (message of messages(); track message; ) {
                        <p-message [severity]="message.severity" [text]="message.text" [closable]="true"/>
                    }
                </div>
            </div>
            <div class="turnbox">
                <div class="topturn" [style]="{'background-color': topcolor, 'visibility':  isTopTurn() ? 'visible' : 'hidden'}"></div>
                <div class="evalbar" [style]="{'visibility':  showEvalBar === true ? 'visible' : 'hidden'}"></div>
                <div class="bottomturn" [style]="{'background-color': bottomcolor, 'visibility':  isBottomTurn() ? 'visible' : 'hidden'}"></div>
            </div>
            
            <p-tabs #tabs [value]="tabindex" style="width: 100%">
                <p-tablist>
                    <p-tab [value]="0">Moves & Variations</p-tab>
                    <p-tab [value]="1">Game Notes</p-tab>
                    <p-tab [value]="2">Save & Update</p-tab>
                    <p-tab [value]="3">Game Analysis</p-tab>
                </p-tablist>

                <p-tabpanels>
                    <p-tabpanel [value]="0">
                        <div class="movebox border-1 border-round-lg">
                            <div class="mt-1">
                                <p-contextMenu #movecm [model]="gameItems" [baseZIndex]="1000"/>
                                <p-table id="notation" [scrollable]="true" scrollHeight="820px" [value]="moves" [(contextMenuSelection)]="selectedMove" 
                                                    [contextMenu]="movecm" [tableStyle]="{ 'min-width': '9rem' }">
                                    <ng-template #header>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>White</th>
                                            <th>Black</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template #body let-move>
                                        <tr>
                                            <td>{{move.turn}}.</td>
                                            <td [style]="calcMoveStyle(move,0)" (click)="selectMove(move,0)" 
                                                        [pContextMenuRow]="{'move': move, 'color': 0, 'index': move.turn-1 }">{{move.whiteMove}}</td>
                                            <td [style]="calcMoveStyle(move,1)" (click)="selectMove(move,1)" 
                                                        [pContextMenuRow]="{'move': move, 'color': 1, 'index': move.turn-1 }">{{move.blackMove}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>      
                            </div>
                        </div>
                        <div class="movebox border-1 border-round-lg ml-1" style="width: auto; max-width: 54rem; white-space: nowrap;" *ngIf="showVariations">
                            <div class="m-1" style="width: auto; max-width: 54rem;">
                                <p-contextMenu #variationcm [model]="variationItems" [baseZIndex]="1000"/>
                                <p-table id="variations" [scrollable]="true" scrollHeight="820px" [value]="game.variations" [(contextMenuSelection)]="selectedVariation" 
                                                         [contextMenu]="variationcm" [tableStyle]="{ 'max-width': '54rem', 'overflow-x': 'hidden' }">
                                    <ng-template #header>
                                        <tr>
                                            <th>Variations</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template #body let-variation>
                                        <tr>
                                            <td (click)="selectVariation(variation)" [style]="variationVisible(variation)"
                                                    [pContextMenuRow]="{'index': variation.index }">{{variation.moves}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-tabpanel>

                    <p-tabpanel [value]="1">
                        <notebox [game]="game"></notebox>
                    </p-tabpanel>

                    <p-tabpanel [value]="2">
                        <updatebox [game]="game" [title]="saveOrUpdate" (preloadEvent)="preloadGame($event)" (cancelEvent)="changeTab($event)"></updatebox>
                    </p-tabpanel>

                    <p-tabpanel [value]="3">
                        <analysisbox [game]="game" [moves]="getMoves(moves)" (variationEvent)="makeVariation($event)"/>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>

        <div class="toolbox border-1 border-round-lg">
            <p-button class="ml-2" icon="pi pi-undo" (click)="restart()" tooltipPosition="top" pTooltip="Restart"></p-button>&nbsp;
            <p-button icon="pi pi-sync" (click)="flipboard()" tooltipPosition="top" pTooltip="Flip Board"></p-button>&nbsp;&nbsp;&nbsp;
            <p-button icon="pi pi-step-backward" (click)="firstMove()" tooltipPosition="top" pTooltip="First Move"></p-button>&nbsp;
            <p-button icon="pi pi-backward" (click)="previousMove()" tooltipPosition="top" pTooltip="Previous Move"></p-button>&nbsp;
            <p-button icon="pi pi-forward" (click)="nextMove()" tooltipPosition="top" pTooltip="Next Move"></p-button>&nbsp;
            <p-button icon="pi pi-step-forward" (click)="lastMove()" tooltipPosition="top" pTooltip="Last Move"></p-button>&nbsp;
            <p-button icon="pi pi-delete-left" (click)="undoLastMove()" tooltipPosition="top" pTooltip="Undo Last Move"></p-button>&nbsp;&nbsp;&nbsp;
            <p-button icon="pi pi-bullseye" (click)="analysis()" tooltipPosition="top" pTooltip="Analysis"></p-button>&nbsp;
            <span *ngIf="database">
                <p-button *ngIf="this.game !== undefined" (click)="save()" tooltipPosition="top" pTooltip="Update Game">Update</p-button>&nbsp;
                <p-button *ngIf="this.game === undefined" (click)="save()" tooltipPosition="top" pTooltip="Save Game">Save</p-button>&nbsp;
                <span style="float: right; padding-right: 40px; padding-top: 12px; color: olivedrab">Database: {{database.ds.name}}</span>
            </span>
        </div>
    </div>
</div>