<div class="box">
    <a [routerLink]="['/user']">
        <i class="pi pi-user" style="color: slateblue; font-size: 1.0rem; padding: 10px;" tooltipPosition="right" pTooltip="User Info"></i>
    </a>
    <a [routerLink]="['/board']">
        <i class="fa-solid fa-chess-board" style="color: slateblue; font-size: 1.0rem; padding: 10px;" tooltipPosition="right" pTooltip="Chess Board"></i>
    </a>
    <a [routerLink]="['/games']">
        <i class="pi pi-crown" style="color: slateblue; font-size: 1.0rem; padding: 10px;" tooltipPosition="right" pTooltip="Games & Positions"></i>
    </a>
    <a [routerLink]="['/databases']">
        <i class="pi pi-database" style="color: slateblue; font-size: 1.0rem; padding: 10px;" tooltipPosition="right" pTooltip="Databases"></i>
    </a>
    <a [routerLink]="['/engines']" routerLinkActive="active">
        <i class="fa-solid fa-microchip" style="color: slateblue; font-size: 1.0rem; padding: 10px;" tooltipPosition="right" pTooltip="Engines"></i>
    </a>
</div>
