<p-splitter [panelSizes]="[20, 80]" [style]="{ height: '100%' }" panelStyleClass="panels">
    <ng-template #panel>
        <div class="flex flex-column">
            <div class="p-2">
                <h3>Your Chess Engines:</h3>
            </div>
            <div class="flex flex-column p-2">
                <div class="flex" *ngFor="let e of engines;">
                    <div class="enginebox">
                        <i class="fa-solid fa-microchip" style="color: black; font-size: 1.0rem; padding: 2px;"></i>  {{e.name}} <br>
                        <b>Elo:</b> {{e.elo}} <b>Version:</b> {{e.version}}
                    </div>
                </div>
                <div class="flex newbox">
                    <p-button label="Add New Engine" [text]="true" severity="primary" (click)="addEngine()"/>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #panel>
        <div class="flex align-items-center justify-content-center">
            Select An Engine.
        </div>
    </ng-template>
</p-splitter>
